
@media screen and (max-width: 639px) {

    nav {
        border-radius: 1.0em; /*This rounds the corners of elements.*/
        }

    nav ul li {
        border-radius: 1em; /*This rounds the corners of elements.*/
    }
    .tablet {
        display: none; /*This hides the content specific to tablet viewports.*/
    }

    .desktop {
        display: none; /*This hides the content specific to desktop viewports.*/
    } 
}
